ul {
    display: flex;
    flex-direction: row;
    padding: 0;

    li {
        list-style: none;

        &:last-child {
            span {
                display: none;
            }
        }

        span {
            font-weight: 100;
            margin: 0 5px;
        }
    }
}